body {
    font: 1.2em Arial, sans-serif;
    background:#D6D1B1;
    font-weight: bold;
    --text-color: #FE5F55;
    --form-background:#C7EFCF;
    --border:7px solid beige ;
    --box-shadow: 0px 2.5px 5px -1px gray;
    --border-radius: 8px;
    color: var(--text-color);
}

header {
    text-align: center;
    padding: 10px;
    background: var(--form-background);
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
    max-width: 1200px;
    margin: auto;
}

form {
    width: 95%;
    margin: auto;
    max-width: 630px;
}

#description {
    font-size: 1.4em;
    padding: 5px;
}

fieldset {
    margin: auto auto 50px auto;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 10px;
    background: var(--form-background);
}

fieldset:hover {
    transform: scale(1.05);
    cursor: pointer;
}

legend {
    background: beige;
    padding: 10px;
    margin: 10px;
    border-radius: var(--border-radius);
    font-size:1.2em;
}

label {
    padding: 10px;
    cursor: pointer;
}

.intro-div {
    display: flex;
}

.required {
    font-size: .6em;
    vertical-align: top;
}

.right-label{
    width: 50%;
    text-align: right;
}

.left-input {
    width: 50%;
}

input,select,button {
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid gray;
    margin: 10px;
    font-size:0.8em;
}

#tech-stack-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    padding: 10px;
}

#focus-div {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.focus-label {
    padding: 10px;
}

textarea {
    width: 99%;
    border-radius: var(--border-radius);
    border: 2px solid gray;
    font-size:0.8em;
}

#submit {
    display: block;
    background: var(--form-background);
    border: var(--border);
    color:var(--text-color);
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    margin:  0 auto 20px auto;
    box-shadow: var(--box-shadow);
}

#submit:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* ==================MEDIA QUERY==================== */

@media screen and (max-width: 400px) {
    .intro-div {
        flex-wrap: wrap;
        margin: 10px;
    }

    .right-label {
        text-align: left;
    }

    #focus-div {
        justify-content: left;
    }

    
}