html {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.form-step {
    margin: 15px auto;
    padding: 10px;
}

.form-check {
    padding-bottom: 15px;
}

.helper-text {
    display: none;
    color: red;
    font-style: italic;
}
.form-step, #prev-btn, #submit {
    display: none;
}

.show {
    display: block;
}

.invalid {
    border: 1px solid red;
    background: rgba(231, 133, 133, 0.137);
}

.grid-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
}

label {
    cursor: pointer;
}

